@using BloggBlazorServer.Services
@inherits LayoutComponentBase
@inject UserStateService UserStateService

<PageTitle>BloggBlazorServer</PageTitle>

<CascadingValue Value="@UserStateService">
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <NavMenu />
                </div>
            </nav>

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">About</h1>
                </div>

                <article class="content">
                    @Body
                </article>
            </main>
        </div>
    </div>
</CascadingValue>

@code {
    protected override void OnInitialized()
    {
        UserStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserStateService.OnChange -= StateHasChanged;
    }
}
