@using BloggBlazorServer.Services
@inherits LayoutComponentBase
@inject UserStateService UserStateService

<PageTitle>BloggBlazorServer</PageTitle>

<CascadingValue Value="@UserStateService">
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
</CascadingValue>

@code {
    protected override void OnInitialized()
    {
        UserStateService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        UserStateService.OnChange -= StateHasChanged;
    }
}